<launch>

  <!-- Launch the AMCL node -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
  		<!-- Sensors -->
		<remap from="/scan" to="/base_scan"/>
    
    <param name="odom_alpha1" value="0.2"/>
    <param name="odom_alpha2" value="0.2"/>
    <param name="odom_alpha3" value="0.2"/>
    <param name="odom_alpha4" value="0.2"/>
    <param name="odom_alpha5" value="0.1"/>
    <param name="laser_max_beams" value="5.6"/>
    <param name="min_particles" value="500"/>
    <param name="max_particles" value="2000"/>
    <param name="kld_err" value="0.05"/>
    <param name="kld_z" value="0.99"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>
    <param name="resample_interval" value="1"/>
    <param name="transform_tolerance" value="0.1"/>
    <param name="recovery_alpha_fast" value="0.0"/>
    <param name="recovery_alpha_slow" value="0.0"/>
    <param name="use_map_topic" value="true"/>
    <param name="first_map_only" value="false"/>
    <param name="gui_publish_rate" value="10.0"/>
  </node>

  <!-- Launch the map_server to provide the static map -->
  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="/home/ingeniarius/ROS_programs/src/robotcraft_stage_tutorial/maps_slam/map.yaml">
  </node>

</launch>